<!--  <button (click)="backClicked()" class="back">Back</button>-->
<div class="container" style="width: 80% ; margin: auto; margin-top: 4rem">
  <div class="row">


    <h1 style="font-size: xx-large; text-align: center">Add new complaint</h1>

    <form>
      <div class="item">
        <input #title class="input is-rounded"
               id="article" name="article"
               placeholder="Article Title" type="text">
      </div>

      <div class="item">
        <textarea #details class="textarea" name="blog"
                  placeholder="Write your article (in markdown)"></textarea>
      </div>
      <div class="item">
        <div class="select is-rounded">
          <select #cat>
            <option >Select category</option>
            <option value="1">Teachers</option>
            <option value="2">Education</option>
            <option value="3">Administration</option>
            <option value="4">Canteen</option>
            <option value="5">Library</option>
            <option value="6">Students</option>
          </select>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered" style="margin-top: 2rem">
        <p class="control">
          <a (click)="add(title.value, details.value, 'anonim',  cat.value); "
             class="button is-info">
            Submit
          </a>
        </p>
        <p class="control">
          <a class="button is-light">
            Cancel
          </a>
        </p>
      </div>
    </form>
  </div>
</div>
