<nav aria-label="main navigation" class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-brand" href="https://bulma.io">

      </a>

      <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbarBasicExample"
         role="button">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbarBasicExample">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="home">
          Home
        </a>

        <a *ngIf="(LoginStatus$ | async) as LoginStatus" class="navbar-item" routerLink="add">
          <label *ngIf="LoginStatus"> Add complaint</label>
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="about">
              About
            </a>

            <a class="navbar-item" routerLink="contact">
              Contact
            </a>

          </div>
        </div>
      </div>
      <div class="navbar-item" style=" margin-right: 74px">
        <h1 style="font-size: xx-large; text-align: center">
          KBTU Complaints
        </h1>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a *ngIf="!(LoginStatus$ | async) as LoginStatus" class="button is-info" routerLink="signin">
              <strong *ngIf="LoginStatus">Sign up</strong>
            </a>
            <a *ngIf="!(LoginStatus$ | async) as LoginStatus" [routerLink]="['/login']" class="button is-light">
              <strong *ngIf="LoginStatus">Log in</strong>
            </a>
            <label *ngIf="(LoginStatus$ | async) as LoginStatus">
              <a *ngIf="(UserName$ | async)as UserName" class="navbar-item has-text-black is-rounded">
                {{UserName | uppercase}}
              </a>
            </label>
            <label *ngIf="(LoginStatus$ | async) as LoginStatus">
              <a (click)="onLogout()" *ngIf="LoginStatus" class="button is-danger">
                Log out
              </a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

