<div *ngIf="!logged" style= "padding-left: 450px; padding-right: 450px; padding-top: 50px; padding-bottom: 50px">
  <div class="container" style="text-align: center; font-size: 3.5rem; padding-bottom: 20px">
    <h1 class="title" style="text-shadow: 0 1px 3px rgba(0,0,0,.3);
    font-weight: 700!important;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: .5rem;">
      Log in
    </h1>
  </div>
  <div class="field">
    <div class="control">
      <input [(ngModel)]="username" class="input is-medium" type="username" placeholder="username">
    </div>
  </div>
  <div class="field">
    <p class="control has-icons-right">
      <input [(ngModel)]="password" class="input is-medium" type="password" placeholder="Password">
      <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
    </p>
  </div>
  <div (click)="login()" class="buttons" class="field is-grouped is-grouped-right">
    <a class="button is-info">
      <strong>Log in</strong>
    </a>
  </div>

</div>



