<section class="hero is-info" style="box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3)">
  <div class="hero-body">
    <div class="container" style="text-align: left; font-size: 1.5rem">
      <h3  class="title is-1" style="margin-bottom: 0.5rem;">
        <strong>
          Category : {{ category.catName }}
        </strong>
      </h3>

    </div>
  </div>
</section>
<div class="container">
  <div class="columns is-3 ">
    <div class="column is-four-fifths">
      <article *ngFor="let post of posts; index as postId" class="media" style="margin-top: 30px">

        <div class="media-content">
          <div class="content">
            <div class="info">
              <h3 class="title is-4" style="margin-bottom: -1.5rem;">
                <strong><a [title]="post.title " routerLink="/post/{{post.id}}">
                  {{ post.title }}
                </a></strong>
              </h3>
              <br>
              <span class="date">{{post.date}} | <strong>{{post.author.username}}</strong> | <strong>{{post.category.catName}}</strong></span>

            </div>
            <br>

            <!--        <img alt="" src="{{post.image}}">-->

            <div (ellipsis-click-more)=open(post.id.valueOf()) ellipsis="...Read More"
                 style="width: 80%; height: 50px">{{post.description}}</div>

          </div>
          <div class="likes">


<!--            <fa-icon [icon]="thumb" style="margin-right: 10px; color: #2e99dd"></fa-icon>-->
<!--            <label *ngIf="post.likes " style="margin-right: 10px">{{post.likes}}</label>-->
<!--            <fa-icon [icon]="thumbD" style="margin-right: 10px; color: #fc4820"></fa-icon>-->
<!--            <label>{{post.dislikes}}</label>-->
          </div>
        </div>

      </article>


    </div>

    <div class="column" style="margin-top: 30px">
      <app-category>

      </app-category>
    </div>
  </div>
</div>
