<section class="hero is-info"
         style="box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3)">
  <div *ngIf="(UserName$ | async)as UserName" class="hero-body">
    <div class="container" style="text-align: left; font-size: 1.5rem">
      <h3 class="title is-1" style="margin-bottom: 0.5rem;">
        <strong>
          {{UserName  }}
        </strong>
      </h3>
    </div>
  </div>
</section>
<div class="container" >
  <div class="tabs" style="height: 100%">
    <ul>
      <li><a (click)="showPost()">My posts</a></li>
      <li><a (click)="showFav()">Favorite posts</a></li>
    </ul>
  </div>


  <div *ngIf="postShow" style="height: 100%;">
    <h1 class="title is-1" style="text-align: center; margin: 28px">My complaints</h1>

    <article *ngFor="let post of posts; index as postId" class="media" style="margin-top: 30px">

      <div class="media-content">
        <div class="content">
          <div class="info">
            <h3 class="title is-4" style="margin-bottom: -1.5rem;">
              <strong><a [title]="post.title ">
                {{ post.title }}
              </a></strong>
            </h3>
            <br>
            <span class="date">{{post.date}}
              | <strong>{{post.author.username}}</strong> | <strong>{{ post.category.catName }}</strong></span>

          </div>
          <br>

          <!--        <img alt="" src="{{post.image}}">-->

          <div (ellipsis-click-more)=open(post.id.valueOf()) ellipsis="...Read More"
               style="width: 80%; height: 50px">{{post.description}}</div>

        </div>
        <div class="likes">


          <!--      <fa-icon [icon]="thumb" style="margin-right: 10px; color: #2e99dd"></fa-icon>-->
          <!--      <label *ngIf="post.likes " style="margin-right: 10px">{{post.likes}}</label>-->
          <!--      <fa-icon [icon]="thumbD" style="margin-right: 10px; color: #fc4820"></fa-icon>-->
          <!--      <label>{{post.dislikes}}</label>-->
        </div>
      </div>

    </article>
  </div>


  <div *ngIf="favShow"style="height: 100%;">
    <h1 class="title is-1" style="text-align: center; margin: 28px">My complaints</h1>

    <article *ngFor="let post of favs; index as postId" class="media" style="margin-top: 30px">

      <div class="media-content">
        <div class="content">
          <div class="info">
            <h3 class="title is-4" style="margin-bottom: -1.5rem;">
              <strong><a [title]="post.post.title ">
                {{ post.post.title }}
              </a></strong>
            </h3>
            <br>
            <span class="date">{{post.post.date}}
              | <strong>{{post.author.username}}</strong> | <strong>{{ post.post.category.catName }}</strong></span>

          </div>
          <br>

          <!--        <img alt="" src="{{post.image}}">-->

          <div (ellipsis-click-more)=open(post.id.valueOf()) ellipsis="...Read More"
               style="width: 80%; height: 50px">{{post.post.description}}</div>

        </div>
        <div class="likes">
          <ng-container *ngIf="(LoginStatus$ | async) as LoginStatus">
            <ng-container *ngIf="(UserId$ | async)as id ">
              <a (click)="AddToFav(Number(id),true,post.id) "  >
                <fa-icon
                  [icon]="star"
                  style="margin-right: 10px; color: #2e99dd"></fa-icon>
              </a>
<!--              <label *ngIf="this.liked" style="color: aquamarine">Added to favorites</label>-->
              <a (click)="delete(Number(id),post.post_id)">
                <fa-icon [icon]="star" style="margin-right: 10px; color: #dd7f35"></fa-icon>
              </a>
<!--              <label *ngIf="!this.liked" style="color: #ff253a">Removed from favorites</label>-->

            </ng-container>
          </ng-container>
        </div>
      </div>

    </article>
  </div>
</div>
